<ul class="pagination pagination-load-wrap justify-content-center">
   
    <!-- Previous button -->
    <f:if condition="{pagination.prevPage}">
        <li class="page-item previous {f:if(condition: '{pagination.currentPage} == 1', then: 'disabled')}">
            <a class="page-link paginate" href="{f:uri.action(action: actionName, arguments: {currentPage: pagination.prevPage})}" title="{f:translate(key: 'pagination.previous')}">
                previous
            </a>
        </li>
    </f:if>

    <!-- Page numbers -->
    <f:for each="{pagination.pages}" as="page">
        <li class="page-item {f:if(condition: '{page} == {pagination.currentPage}', then: 'active')}">
            <a class="page-link paginate" href="{f:uri.action(action: actionName, arguments: {currentPage: page})}">{page}</a>
        </li>
    </f:for>

    <!-- Next button -->
    <f:if condition="{pagination.nextPage}">
        <li class="page-item next {f:if(condition: '{pagination.currentPage} == {pagination.totalPages}', then: 'disabled')}">
            <a class="page-link paginate" href="{f:uri.action(action: actionName, arguments: {currentPage: pagination.nextPage})}" title="{f:translate(key: 'pagination.next')}">
                next
            </a>
        </li>
    </f:if>

</ul>
