<!DOCTYPE html>
<!--"Multipart/Alternative MIME" format-->
<html>
<head>
    <meta charset="utf-8">
    <title><f:translate key="mail.title" /></title>
</head>
<body>    
    <div>
        <div>
            <p><f:translate key="mail.hello" /> {guest.adminName}</p>

            <p><f:translate key="mail.msg" extensionName="ns_guestbook" /></p>

            <p><b><f:translate key="mail.Name" extensionName="ns_guestbook" />:</b> {guest.name}</p>
            <p><b><f:translate key="mail.City" extensionName="ns_guestbook" />:</b> {guest.city}</p>
            <p><b><f:translate key="mail.Email" extensionName="ns_guestbook" />:</b> {guest.email}</p>
            <p><b><f:translate key="mail.Website" extensionName="ns_guestbook" />:</b> {guest.website}</p>
            <p>
	        	<b><f:translate key="mail.Message" />:</b>
            	<f:format.raw>{guest.message}</f:format.raw>
            </p>
            <br/>
            <br/>
            <f:translate key="mail.regards" extensionName="ns_guestbook" />
        </div>
    </div>
</body>

</html>