
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
	<h2>{settings.maintitle}</h2>
	<f:if condition="{nsguestbooks}">
		<f:then>
			<div class="ns-news-comment-wrapper">
				<div class="ns-headline">
					<h2><f:translate key="CommentsandResponses"/></h2>
				</div>
				<div class="comments-container">
					<ul class="comments-list" id="comments-list">
						<f:for each="{nsguestbooks}" as="nsguestbook">
							<li id="comments-{nsguestbook.uid}">
								<f:render partial="Nsguestbook/Comment" arguments="{nsguestbook:nsguestbook}" />
							</li>
						</f:for>
					</ul>
				</div>
			</div>
		</f:then>
		<f:else>
			<div class="no-comment">
				<f:translate key="emptymsg" />
			</div>
		</f:else>
	</f:if>
</f:section>