<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:grav="http://typo3.org/ns/Nitsan/NsGuestbook/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default" />
<f:asset.css identifier="yourIdentifier" href="EXT:ns_guestbook/Resources/Public/css/bootstrap.min.css" />
<f:section name="main">
    <f:flashMessages />
    <h2>{settings.maintitle}</h2>
    <f:if condition="{nsguestbooks}">
        <f:then>
            <div class="ns-news-comment-wrapper">
                <div class="ns-headline">
                    <h2><f:translate key="CommentsandResponses"/></h2>
                </div>
                <div class="comments-container">
                    <ul class="comments-list" id="comments-list">
                        <f:for each="{pagination.paginator.paginatedItems}" as="nsguestbook">
                            <li id="comments-{nsguestbook.uid}">
                                <f:render partial="Nsguestbook/Comment" arguments="{nsguestbook:nsguestbook}" />
                            </li>
                        </f:for>
                    </ul>
                </div>
            </div>
        </f:then>
        <f:else>
            <div class="no-comment">
                <f:translate key="emptymsg" />
            </div>
        </f:else>
    </f:if>
    <f:variable name="nsguestbooksCount">{nsguestbooks -> f:count()}</f:variable>

    <f:if condition="{nsguestbooksCount} > {settings.totalnumber}">
        <f:then>
            <f:render partial="Nsguestbook/Pagination" arguments="{pagination: pagination.pagination, paginator: pagination.paginator, actionName: 'list'}" />
        </f:then>
    </f:if>
</f:section>
