<f:layout name="Default" />
<f:section name="main">
    <f:flashMessages />
    <h2>{settings.maintitle}</h2>
    <f:if condition="{nsguestbooks}">
        <f:then>
            <div class="ns-news-comment-wrapper">
                <div class="ns-headline">
                    <h2><f:translate key="CommentsandResponses"/></h2>
                </div>
                <div class="comments-container">
                    <ul class="comments-list" id="comments-list">
                        <f:for each="{nsguestbooks}" as="nsguestbook">
                            <li id="comments-{nsguestbook.uid}">
                                <f:render partial="Nsguestbook/Comment" arguments="{nsguestbook:nsguestbook}" />
                            </li>
                        </f:for>
                    </ul>
                </div>
            </div>
        </f:then>
        <f:else>
            <div class="no-comment">
                <f:translate key="emptymsg" />
            </div>
        </f:else>
    </f:if>
</f:section>
