
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
  <f:if condition="{settings.maintitle}">
    <h1>{settings.maintitle}</h1>
  </f:if>


  <f:if condition="{nsguestbook.name}">
    <strong>{nsguestbook.name}</strong> <f:if condition="{nsguestbook.city}">From {nsguestbook.city} </f:if>
  </f:if>

  <span class="text-muted">
    <br>
      <f:if condition="{nsguestbook.tstamp}">
          <f:then>
             <f:format.date format="M d,Y">{nsguestbook.tstamp}</f:format.date> <f:translate key="list.at" />  <f:format.date format="H:i">{nsguestbook.tstamp}</f:format.date>
          </f:then>
      </f:if>
  </span>

  <div class="comment-content">
    <f:format.nl2br><f:format.html>{nsguestbook.message}</f:format.html></f:format.nl2br>

    <f:if condition="{nsguestbook.email}">
      <f:format.html> Email: <a href="mailto:{nsguestbook.email}"> {nsguestbook.email}</a></f:format.html>
    </f:if>

    <f:if condition="{nsguestbook.website}">
      <f:format.html> website: <a target="_blank" href="{nsguestbook.website}"> {nsguestbook.website}</a></f:format.html>
    </f:if>
  </div>



  <f:link.page pageUid='{settings.backpage}'> << <f:translate key="show.back" /></f:link.page>
</f:section>